/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 50px auto;
}

/* Banner part */
.bg-color {
    background: #161616;
    border-radius: 30px;
}

.header-banner {
    display: flex;
    align-items: center;
}

.header-details {
    color: #FFFFFF;
    width: 531px;
    padding: 110px 24px 110px 106px;
}

.header-details h2 {
    font-weight: 700;
    font-size: 54px;
}

.header-details p {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 38px;
}

.header-img img {
    width: 581px;
    margin: 33px 79px -7px 0;
}

.button-link {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid;
    padding: 15px 34px;
    background: #DD0000;
    border-radius: 5px;
}

.button-link:hover {
    border: none;
}

.fa-angle-right {
    position: relative;
    animation-name: angle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* animation added */
@keyframes angle {
    0% {
        color: #FFFFFF;
        left: 0;
    }

    50% {
        left: 16px;
    }

    80% {
        left: 25px;
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 32px;
    }
}

/* blog section */
.blog-left {
    display: flex;
}

.blog-menu {
    width: 225px;
    background: #161616;
    border-radius: 10px;
    padding: 15px;
    height: 235px;
}

.blog-menu>.upcoming {
    margin-top: 14px;
}

.blog-menu a {
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    color: #161616;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.blog-menu>.active {
    background: #DD0000;
    color: #FFFFFF;
}

/* blog-article */
.blog-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    margin-left: 25px;
}

.blog {
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-details {
    padding: 20px;
}

.blog-details h3 {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog-details a {
    color: #161616;
    text-decoration: none;
    border: 1px solid;
    padding: 5px 18px;
    border-radius: 5px;
}

.blog-info {
    color: rgba(22, 22, 22, 0.7);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.chat-icon {
    width: 14px;
}



/* responsive section */
/* mobile responsive */
@media only screen and (max-width:688px) {
    .container {
        width: 334px;
    }

    .header-banner {
        flex-direction: column;
    }

    .header-details {
        text-align: center;
        width: 258px;
        padding: 28px 38px;
    }

    .header-details h2 {
        font-size: 22px;
    }

    .header-details p {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 258px;
        white-space: nowrap;
    }

    .header-img img {
        width: 233px;
        margin: 0px 38px -7px 63px;
    }

    /* blog section */
    .blog-left {
        flex-direction: column;
    }

    .blog-menu {
        width: 100%;
        background: #FFFFFF;
        padding: 0 56px;
    }

    .blog-menu a {
        display: block;
        width: 200px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        margin-left: 8px;
    }

    .blog-article {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Tablet device */
@media only screen and (min-width:689px) and (max-width: 991px) {
    .container {
        width: 734px;
    }

    .header-details {
        width: 316px;
        padding: 61px 2px 61px 76px;
    }

    .header-details h2 {
        font-size: 35px;
    }

    .header-img img {
        width: 323px;
        margin: 58px 17px -7px 0px;
    }

    /* blog section */
    .blog {
        width: 357px;
    }

    .blog-hide {
        display: none;
    }

    .blog-img img {
        width: 357px;
    }

    .blog-left {
        flex-direction: column;
    }

    .blog-menu {
        width: 100%;
        background: #FFFFFF;
        padding: 0;
        height: 110px;
    }

    .blog-menu a {
        display: inline-block;
        width: 200px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        margin-left: 8px;
    }

    .blog-article {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }
}